<section class="hero is-info welcome is-small">
      <div class="hero-body">
          <div class="container">
              <h1 class="title">
                  Sign Message
              </h1>
              <h2 class="subtitle">

              </h2>
          </div>
      </div>
  </section>
  <article class="message is-success" *ngIf="signature">
    <div class="message-body">
      Signature generated: {{ signature }}
    </div>
  </article>
  <article class="message is-danger" *ngIf="errorMessage">
    <div class="message-body">
      {{errorMessage}}
    </div>
  </article>
  <section class="main-content">
    <div class="card">
        <div class="card-table">
            <div class="content content-container">
                <div class="field">
                  <label class="label">Current account</label>
                  <div class="control">
                    <div class="current-account" *ngIf="currentAccount$ | async as currentAccount">{{ currentAccount?.ss58Address }}</div>
                    <button class="button is-link" *ngIf="!enableAddressScanner" (click)="startScanning()">Scan new address</button>
                    <button class="button is-link" *ngIf="enableAddressScanner" (click)="cancelScanning()">Cancel</button>
                    <div class="scanner-container">
                      <app-polkascan-signer-address *ngIf="enableAddressScanner" (accountScanned)="onAddressScanned($event)" [device]="currentDevice" (camerasFound)="onCamerasFound($event)"></app-polkascan-signer-address>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  <section class="main-content" *ngIf="!payload.value && !enableSignatureScanner">
    <div class="card">
        <div class="card-table">
            <div class="content content-container">
                <div class="field">
                  <label class="label">Message</label>
                  <div class="control">
                    <input type="text" class="input"  [(ngModel)]="message">
                </div>
                <div class="field" *ngIf="signature">
                  <label class="label">Signature</label>
                  <div class="control doc">
                    {{ signature }}
                  </div>
                </div>
                  <div class="field is-grouped">
                    <div class="control">
                      <button class="button is-link" [disabled]="!message || !(currentAccount$ | async)" (click)="signMessage()">Sign message</button>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  <section class="main-content" *ngIf="payload.value">
    <div class="card">
        <div class="card-table">
            <div class="content content-container">
              <div class="field">
                  <label class="label">Scan QR with Parity Signer</label>
                  <div class="control">
                    <app-polkascan-signer-extrinsic-qr [account]="currentAccount$" [payload]="payload"></app-polkascan-signer-extrinsic-qr>
                    <button class="button is-link" (click)="scanSignature()">Scan signature QR</button>
                    <button class="button is-link" (click)="cancelQRcode()">Cancel</button>
                    <textarea class="textarea result" placeholder="Signature" *ngIf="signature">{{ signature }}</textarea>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </section>
<section>
  <div class="card">
    <div class="scanner-container">
      <app-polkascan-signer-signature *ngIf="enableSignatureScanner" (signatureScanned)="onSignatureScanned($event)" [device]="currentDevice" (camerasFound)="onCamerasFound($event)"></app-polkascan-signer-signature>
    </div>
    <button class="button is-link" *ngIf="enableSignatureScanner" (click)="cancelScanning()">Cancel</button>
  </div>
</section>
