<section class="hero is-info welcome is-small">
      <div class="hero-body">
          <div class="container">
              <h1 class="title">
                  Chain State
              </h1>
              <h2 class="subtitle">

              </h2>
          </div>
      </div>
  </section>
  <section class="main-content">
    <div class="card">
        <div class="card-table">
            <div class="content content-container">
                <div class="field">
                  <label class="label">Storage function</label>
                  <div class="control">
                    <div class="select">
                      <select (change)="selectStorageFunction($event)" [(ngModel)]="selectedStorageFunction">
                        <option *ngFor="let storageFunction of storageFunctions" [ngValue]="storageFunction">
                          {{ storageFunction.module_name }} &raquo; {{ storageFunction.storage_name }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="field">
                  <label class="label">Description</label>
                  <div class="control">
                    {{ selectedStorageFunction?.documentation }}
                  </div>
                </div>
                <div class="field" *ngFor="let param of rpcParams">
                  <label class="label">{{ param.name }}</label>
                  <div class="control">
                    <input *ngIf="param.type == 'string' || param.type == 'BlockHashOrId'" class="input" type="text" [(ngModel)]="param.value">
                    <textarea *ngIf="param.type == 'dict' || param.type == 'array'" class="textarea" (change)="updateParamValue($event, param)">{{ param.value | json }}</textarea>
                  </div>
                </div>
                <div class="field">
                  <label class="label">Block hash or ID</label>
                  <div class="control">
                    <input class="input" type="text" [(ngModel)]="selectedBlockHashOrId">
                  </div>
                </div>
                  <div class="field is-grouped">
                    <div class="control">
                      <button class="button is-link" (click)="submitStorageCall()">Retrieve Chain State</button>
                    </div>
                  </div>
            </div>
        </div>
    </div>
  </section>
  <section class="main-content" *ngIf="result">
    <div class="card">
        <div class="card-table">
            <div class="content content-container">
              <div class="field">
                  <label class="label">Result</label>
                  <div class="control">
                    <ngx-json-view class="json-view" [data]="result" levelOpen="3"></ngx-json-view>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </section>


