<nav class="navbar is-white">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item brand-text" routerLink="/">
                  <img src="assets/logo-light.png" height="30"> <div class="sub-title">Polkascan Substrate Interface</div>
                </a>
                <div class="navbar-burger burger" data-target="navMenu" [ngClass]="{'is-active': showNavigation}" (click)="toggleNavigation()">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div id="navMenu" class="navbar-menu" [ngClass]="{'is-active': showNavigation}">
                <div class="navbar-start">
                    <a class="navbar-item" routerLink="/rpc-calls" routerLinkActive="is-active">
                      <span class="icon"><i class="fa fa-download"></i></span> RPC calls
                    </a>
                    <a class="navbar-item" routerLink="/chain-state" routerLinkActive="is-active">
                      <span class="icon"><i class="fa fa-database"></i></span> Chain state
                    </a>
                    <a class="navbar-item" routerLink="/compose-call" routerLinkActive="is-active">
                      <span class="icon"><i class="fa fa-file-alt"></i></span> Compose Call
                    </a>
                </div>

            </div>
        </div>
    </nav>
<div class="container">
  <router-outlet></router-outlet>
</div>

