                <section class="info-tiles">
                    <div class="tile is-ancestor has-text-centered">

                          <div class="tile is-parent">

                            <article class="tile is-child box">
                              <a routerLink="/rpc-calls">
                              <p class="title"><i class="fa fa-download fa-2x"></i></p>
                                <p class="subtitle">RPC calls</p>
                              </a>
                            </article>

                          </div>


                          <div class="tile is-parent">
                              <article class="tile is-child box">
                                  <a routerLink="/chain-state">
                                  <p class="title"><i class="fa fa-database fa-2x"></i></p>
                                  <p class="subtitle">Chain state</p>
                                  </a>
                              </article>
                          </div>


                          <div class="tile is-parent">
                              <article class="tile is-child box">
                                  <a routerLink="/extrinsics">
                                  <p class="title"><i class="fa fa-file-alt fa-2x"></i></p>
                                  <p class="subtitle">Extrinsics</p>
                                  </a>
                              </article>
                          </div>

                    </div>
                </section>
