  <section class="hero is-info welcome is-small">
      <div class="hero-body">
          <div class="container">
              <h1 class="title">
                  Polkascan Substrate Interface GUI
              </h1>
              <h2 class="subtitle">

              </h2>
          </div>
      </div>
  </section>
  <section class="info-tiles">
      <div class="tile is-ancestor has-text-centered">

            <div class="tile is-parent">

              <article class="tile is-child box">
                <a routerLink="/rpc-calls">
                <p class="title"><i class="fa fa-download fa-2x"></i></p>
                  <p class="subtitle">RPC calls</p>
                </a>
              </article>

            </div>


            <div class="tile is-parent">
                <article class="tile is-child box">
                    <a routerLink="/chain-state">
                    <p class="title"><i class="fa fa-database fa-2x"></i></p>
                    <p class="subtitle">Chain state</p>
                    </a>
                </article>
            </div>


            <div class="tile is-parent">
                <article class="tile is-child box">
                    <a routerLink="/compose-call">
                    <p class="title"><i class="fa fa-file-alt fa-2x"></i></p>
                    <p class="subtitle">Compose Call</p>
                    </a>
                </article>
            </div>

      </div>
  </section>
