<section class="hero is-info welcome is-small">
      <div class="hero-body">
          <div class="container">
              <h1 class="title">
                  RPC calls
              </h1>
              <h2 class="subtitle">

              </h2>
          </div>
      </div>
  </section>
  <article class="message is-danger" *ngIf="errorMessage">
    <div class="message-body">
      {{errorMessage}}
    </div>
  </article>
  <section class="main-content">
    <div class="card">
        <div class="card-table">
            <div class="content content-container">
                <div class="field">
                  <label class="label">Proxy RPC endpoint</label>
                  <div class="control">
                    {{ rpcEndpoint }}
                  </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  <section class="main-content">
    <div class="card">
        <div class="card-table">
            <div class="content content-container">
                <div class="field">
                  <label class="label">Method</label>
                  <div class="control">
                    <div class="select">
                      <select (change)="selectRpcMethod($event)" [(ngModel)]="selectedRpcMethod">
                        <option *ngFor="let method of rpcMethods" [value]="method"><span *ngIf="isNewRpcMethod(method)"> 🆕 </span>{{ method }}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="field is-grouped" *ngIf="!isNewRpcMethod(selectedRpcMethod)">
                  <div class="control">
                    <button class="button is-link" (click)="addParameter()">
                      <span class="icon"><i class="fas fa-plus"></i></span><span>Add parameter</span></button>
                  </div>
                </div>
                <div class="field" *ngFor="let param of rpcParams">
                  <label class="label">{{ param.name }}</label>
                  <div class="control">
                    <input *ngIf="param.type == 'string' || param.type == 'BlockHashOrId'" class="input" type="text" [(ngModel)]="param.value">
                    <input *ngIf="param.type == 'number'" class="input" type="number" [(ngModel)]="param.value">
                    <textarea *ngIf="param.type == 'dict' || param.type == 'array'" class="textarea" (change)="updateParamValue($event, param)">{{ param.value | json }}</textarea>
                  </div>
                </div>
                <div class="field is-grouped">
                  <div class="control">
                    <button class="button is-link" (click)="submitCall()">Submit RPC call</button>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  <section class="main-content" *ngIf="result">
    <div class="card">
        <div class="card-table">
            <div class="content content-container">
              <div class="field">
                  <label class="label">Result</label>
                  <div class="control">
                    <ngx-json-view class="json-view" [data]="result" levelOpen="3"></ngx-json-view>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </section>

